@model BookViewModel
@{
    ViewData["Title"] = "Tuxedo Books";
}
@{
    if (TempData["SuccessMessagePassword"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessagePassword"]
        </div>
    }
}
<div>
    <h3 class="text-center">Our Staff Pick!</h3>
    <h4 b-8u658nql35="" class="text-center p-2" style="background-color: #D1FFBD;">
        <a asp-controller="Book" asp-action="BookDetails" asp-route-bookId="13">
            All That Glitters
        </a>
    </h4>
</div>